# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.vshost.exe.config
DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.vshost.exe
DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.pdb
DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.vshost.exe.manifest
DictionaryIndexSearcher/DictionaryIndexSearcher.csproj.user
DictionaryIndexSearcher/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DictionaryIndexSearcher/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DictionaryIndexSearcher/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DictionaryIndexSearcher/obj/Debug/DictionaryIndexSearcher.pdb
DictionaryIndexSearcher/obj/Debug/DictionaryIndexSearcher.exe
DictionaryIndexSearcher/obj/Debug/DictionaryIndexSearcher.csprojResolveAssemblyReference.cache
DictionaryIndexSearcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DictionaryIndexSearcher/obj/Debug/DictionaryIndexSearcher.csproj.FileListAbsolute.txt
DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.exe
DictionaryIndexSearcher/bin/Debug/DictionaryIndexSearcher.exe.config
DictionaryIndexSearcher/bin/Debug/Newtonsoft.Json.xml
DictionaryIndexSearcher/bin/Debug/Newtonsoft.Json.dll