<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Way2DictionaryUrl" value="http://teste.way2.com.br/dic/api/words/" />
    <add key="HistoricOfSearchedWordsFilePath" value="C:\Anderson\Projects\Way2\DictionaryIndexSearcher\Files\HistoricOfSearchedWords.json" />
    <add key="MustSaveAndSearchInHistoricOfSearchedWordsFile" value="False" />
    <add key="CalibrationRangeOfMaximumAndCurrrentIndexes" value="1000" />
    <add key="DefaultMinimumIndex" value="0" />
    <add key="DefaultMaximumIndex" value="45000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>